
html,body{
    height:100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Tahoma,Arial,'PingFang SC','Source Han Sans CN','Source Han Sans','Source Han Serif','Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft YaHei',sans-serif;
}

p,ul,li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.marginBottom14{
    margin-bottom: 14px;
}

.relative {
    position: relative;
}

.paddingRight47{
    padding-right: 47px;
}

.marginTop115{
    margin-top:115px;
}

.marginTop80{
    margin-top:80px;
}

.marginBottom30{
    margin-bottom:30px;
}

.marginTop53{
    margin-top:53px;
}

.marginTop8{
    margin-top: 8px;
}

.marginRight30{
    margin-right:30px;
}

.marginRight20{
    margin-right:20px;
}
.marginRight10{
    margin-right:10px;
}
.marginLeft40{
    margin-left:40px;
}

.marginLeft10{
    margin-left:10px;
}

.paddingLeft10{
    padding-left: 10px;
}

.paddingLeft25{
    padding-left: 25px;
}

.paddingLeft40{
    padding-left: 40px;
}

.paddingTop20{
    padding-top: 20px;
}

.paddingTop30{
    padding-top: 30px;
}

.boxSizing{
    box-sizing: border-box;
}

.paddingBottom20{
    padding-bottom: 20px;
}

.width164{
    width: 164px;
}

.width120{
    width: 120px;
}

.width94{
    width: 94px;
}

.height421{
    height: 421px;
}

.padding2{
    padding: 2px;
}

.color-gree{
    color: #e5e8f2;
}

.fontSize16{
    font-size: 16px;
}

.m-screen-browse{
    width: 3841px;
    height: 2165px;
    background: #13131c;
    padding: 59px;
}

.header{
    background: url(../images/title.png) no-repeat center;
    height: 75px;
    margin-bottom: 89px;
    color: #29e874;
    font-size: 20px;
    line-height: 75px;
    background-size: contain;
}

.header-cur-loc{
    margin-left: 37px;
}

.header-point{
    padding: 0px 10px;
}

.heaer-time{
    margin-right: 37px;
}

.m-left,.m-right{
    width: 14%;
    min-width: 580px;
    padding-top: 44px;
}

.threed-m-left{
    padding-top: 105px ;
}

.threed-m-right,.threed-m-left{
    width: 14%;
    min-width:620px;
}

.threed-m-right{
    margin-top: 45px;
    background: url(../images/3d-right-bg.png) no-repeat right top;
}

.m-middle{
    width: 100%;
    display: inline-block;
    vertical-align: top;
    min-height: 1700px;
}

.m-left-1,.threed-m-left-1{
    width: 100%;
    padding-left: 47px;
}

.m-left-1{
    height: 568px;
    background: url(../images/m-left-1.png) no-repeat left;
}

.threed-m-left-1{
    background: url(../images/3d-m-left-1.png) no-repeat left;
    height: 458px;
}

.m-title{
    background: #13131c;
    display: inline-block;
    padding-right: 20px;
}

.tilte-bg-color{
    width: 100%;
    background: url(../images/title-bar.png) no-repeat right bottom;
    position: relative;
    top: -3px;
}

.right-tilte-bg-color{
    width: 100%;
    background: url(../images/title-bar.png) no-repeat right bottom;
}

.title-name{
    color: #15ffcc;
    font-size: 20px;
    border: 1px solid #107667;
    line-height: 42px;
    padding: 0px 20px;
    display: inline-block;
}

.title-name i{
    width: 5px;
    height: 5px;
    background: #15ffcc;
    display: inline-block;
    margin-right: 12px;
    position: relative;
    top: -3px;
}

.left-1-main{
    height: 511px;
    width: 100%;
    background: url(../images/left1-bg.png) no-repeat center;
    padding: 3px 3px 5px 2px;
}

.total-time{
    background: url(../images/boder-title.png) no-repeat left bottom;
    color: #fff;
    padding-bottom: 25px;
    font-size: 18px;
    padding-top: 10px;
}

.left-padding{
    padding: 20px 40px;
}

.total-time .arrow{
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-left: 6px solid #15fecc;
    border-bottom: 3px solid transparent;
    position: absolute;
    top: 19px;
}

.total-txt{
    color: #29e874;
    font-size: 20px;
    letter-spacing: 1px;
    position: relative;
    top: 1px;
}

.m-left-2{
    background: url(../images/m-left-2.png) no-repeat left;
    height:961px;
    padding-left: 47px;
    width: 100%;
    margin-top: 75px;
}

.left-2-main,.threed-left-2-main{
    height: 901px;
    width: 100%;
}

.left-2-main{
    background: #181824 url(../images/left2-bg.png) no-repeat center;
}

.threed-left-2-main{
    background: #181824 url(../images/3d-left-2-bg.png) no-repeat center top;
}

.search{
    border: 1px solid #262639;
    height: 71px;
    width: 855px;
    position: absolute;
    z-index: 1;
}

.search-input{
    background: #13131c;
    border: 0;
    height: 71px;
    padding: 10px 35px;
    outline: 1px;
    width: 100%;
    font-size: 20px;
    color: rgb(229,232,242,0.3);
}

.m-right-1{
    background: url(../images/m-right-1.png) no-repeat top right;
    height:619px;
}

.right-1-main{
    height: 546px;
    width: 100%;
    border-image-source: url(../images/left1-bg.png);
    background-clip: border-box;
    border-style: solid;
    border-image-slice: 20 0 20 0 fill;
    border-width: 20px 0px 20px 0px;
    background: #181824;
}

.threed-right-1-main{
    background: url(../images/3d-right-1-bg.png) no-repeat top right;
    height: 365px;
}

.right-2-main{
    background: url(../images/right2-bg.png) no-repeat center;
    height: 421px;
}

.m-right-3{
    width: 883px;
    position: absolute;
    right: 47px;
    margin-top: 57px;
}

.right-3-main{
    background:url(../images/right3-bg.png) no-repeat center;
    height:421px;
}

.threed-right-3-main{
    background:url(../images/3d-right-3-bg.png) no-repeat center;
    width:883px;
    height: 712px;
    padding: 20px 58px;
}

.threed-right-2-main{
    background: url(../images/3d-right-2-bg.png) no-repeat center;
    height: 401px;
}

.middle-tile{
    background: url(../images/middle-tille.png) no-repeat center;
    height: 229px;
    width: 100%;
    max-width: 1686px;
    margin: auto;
}

.total-1{
    color: #15ffcc;
    font-size: 42px;
}

.total-2{
    color: #29e874;
    font-size: 42px;
}

.total-3{
    color: #ffe742;
    font-size: 42px;
}

.total-flex{
    margin: auto;
    width: 73%;
    height: 229px;
}

.mid-total-bg{
    background: #181824 url(../images/total-bg.png) no-repeat center;
    width: 381px;
    height: 86px;
    line-height: 86px;
    font-family: 'Gotham-Book';
}

.total-list{
    width: 381px;
    text-align: center;
    margin-top: 23px;
}

.mid-total-txt{
    background: #222335;
    font-size: 20px;
    padding: 6px 26px;
    display: inline-block;
    margin-top: 9px;
}

.check-defalut{
    background: #212333;
    padding: 6px;
    font-size: 14px;
    cursor: pointer;
    color: #ced3dc;
    min-width: 70px;
    max-height: 30px;
}
.check-defalut i{
    margin-right: 9px;
}
.check-defalut.current i{
    background: url(../images/check-defalut.png) no-repeat left center;
    width: 12px;
    height: 9px;
    display: inline-block;
    margin-right: 5px;
}
.select-searchbox{
    display: inline-block;
    background: #212333;
    padding: 7px 10px 7px 10px;
    font-size: 14px;
    color: rgb(206,211,220,0.5);
    cursor: pointer;
}

.arrow-bottom{
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #767990;
}

.page-bg{
    background: #212333;
    width: 37px;
    height: 30px;
    margin-left: 8px;
    cursor: pointer;
}

.display-flex{
    display: flex;
}

.justify-content-flex-end{
    justify-content: flex-end;
}

.justify-content-space-between{
    justify-content: space-between;
}

.justify-content-left{
    justify-content: left;
}

.align-items-center{
    align-items: center;
}

.page-bg i{
    width: 0;
    height: 0;
    display: block;
    margin: 10px auto;
}

.arrow-upper i{
    border-top: 5px solid transparent;
    border-right: 10px solid #333650;
    border-bottom: 5px solid transparent;

}

.arrow-upper.current i{
    border-top: 5px solid transparent;
    border-right: 10px solid #57fb93;
    border-bottom: 5px solid transparent;

}

.arrow-next i{
    border-top: 5px solid transparent;
    border-left: 10px solid #333650;
    border-bottom: 5px solid transparent;
}
.arrow-next.current i{
    border-top: 5px solid transparent;
    border-left: 10px solid #57fb93;
    border-bottom: 5px solid transparent;
}

.search-input-icon{
    background: url(../images/search-glass-icon.png) no-repeat center;
    width: 82px;
    height: 71px;
    border-left: 1px solid #262639;
}

.m-icon-tab>div{
    width: 76px;
    height: 71px;
    border: 1px solid #373b47;
    cursor: pointer;
}

.m-icon-tab>div.three-icon.current{
    border: 1px solid #15f1c1;
    background: url(../images/three-icon-hover.png) no-repeat center;
}

.m-icon-tab>div.map-icon.current{
  border: 1px solid #15f1c1;
  background: url(../images/map-icon-hover.png) no-repeat center;
}

.refresh{
    background: url(../images/refresh.png) no-repeat center;
}
.refresh:hover{
    background: url(../images/refresh-hover.png) no-repeat center;
    border: 1px solid #15f1c1;
}
.map-icon{
    background: url(../images/map-icon.png) no-repeat center;
}

.three-icon{
    background: url(../images/three-icon.png) no-repeat center;
}

.m-icon-tab{
    position: absolute;
    top: 20px;
    left: 75px;
}

.scroll-new i{
    width:5px;
    height: 5px;
    display: inline-block;
    background: #57fb93;
    margin-right: 19px;
    position: relative;
    top: -4px;
}

.scroll-new{
    height: 71px;
    width: 1433px;
    background: url(../images/scroll-new-bg.png) no-repeat bottom;
    position: absolute;
    bottom: 0px;
    left: 460px;
    font-size: 22px;
    line-height: 71px;
    padding-left: 40px;
    overflow: hidden;
}

.transparent-bg{
    width: 100%;
    height: 100%;
    background: url(../images/transparent-bg.png) repeat center;
}

.right-three-pie{
    width: 650px;
    height: 250px;
    margin: auto;
}

.threed-right-3{
    position: absolute;
    right: 0px;
}

.threed-left-1-mian{
    background: url(../images/3d-left-1-mian.png) no-repeat left bottom;
    height:401px;
}

.threed-line{
    background: url(../images/3d-line-bottom.png) no-repeat left bottom;
}

.threed-line-1{
    background: url(../images/3d-line-1.png) no-repeat left bottom;
}

.m-date-left{
    min-width: 93px;
    padding-left: 15px;
}

.threed-map-tip{
    background: url(../images/3d-map-bg.png) no-repeat left bottom;
    width: 259px;
    height: 116px;
    padding: 10px;
    box-sizing: border-box;
}
.threed-map-tip h3{
    padding: 0px 0px 10px 0px;
    margin: 0;
    font-weight: normal;
    font-size:20px;
    color:#e5e8f2;
}
.threed-map-tip .value{
    margin-top: 25px;
    font-size: 32px;
    color:#57fb97;
}

.leftPerTxt{
    color: #e5e8f2;
    position: absolute;
    top: 210px;
    left: 60px;
    text-align: center;
    width: 140px;
    font-size: 16px;
}
.perNum{
    font-size: 30px;
    color: #28db6f;
}

.selectbox ul{
    max-height: 200px !important;
    overflow: hidden;
    background: none !important;
    position: relative !important;
}
.selectbox li{
    padding: 8px 10px;
    color: rgb(206,211,220,0.65);
}
.selectbox li:hover{
    background: #2d3043;
    color: #ced3dc;
}
.selectbox{
    position: absolute;
    background: #212333;
    left: 0;
    top: 36px;
    z-index: 1;
    display: none;
}
.smallSquare i{
    width: 8px;
    height: 8px;
    display: inline-block;
    background: #333650;
}

.smallSquare i.current{
    background: #5afa93;
}

.smallSquare.current i{
    background: #5afa93;
}

.PingFangTC-Light{
    font-family: 'PingFangTC-Light';
    font-weight: 100;
}

.GothamMedium{
    font-family: 'GothamMedium';
    font-weight: 100;
}

.Gotham-Book{
    font-family: 'Gotham-Book';
    font-weight: 100;
}

@font-face {
    font-family:'Gotham-Book';
    src: url(../font/Gotham-Book.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'PingFangTC-Light';
    src: url(../font/PingFangTC-Light.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'GothamMedium';
    src: url(../font/GothamMedium.otf);
    font-weight: normal;
    font-style: normal;
}